.cm-h-30p {
    height: 30px !important;
}
.cm-w-30p {
    width: 30px !important;
}
.cm-pointer {
    cursor: pointer !important;
}
.cm-sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
}
.send-spinner {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}