// page
.cr-page {
  min-height: 100vh;
  &__header {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    display: flex;
    align-items: flex-end;
    align-self: center;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }

  &__breadcrumb {
    @include media-breakpoint-down(sm) {
      align-self: flex-start;
    }
    align-self: flex-end;
    padding: 0;
    text-transform: capitalize;
    background: theme-color('light');
  }

  .row {
    // stylelint-disable-next-line
    .col,
    > [class^='col-'] {
      margin-bottom: 1rem;
    }
  }
}

.cm-page-loader {
  display: block;
  position: fixed;
  z-index: 99999;
  background-color: rgba(34, 34, 34, 0.88);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.cr-page-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cm-main-loader {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
}

.cm-inbox-page {
  padding: 0!important;
}

.cm-span-link {
  cursor:pointer;
  color:blue;
  text-decoration: none;
}

.cm-span-link:hover {
  text-decoration: underline;
}